body{
	margin: 0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; 
}



.dice-button{
  vertical-align: middle;
  white-space: nowrap;

}
.score{
  height: 100px;
  background-color: rgba(255, 0, 0, 0.2);
}

.player-one, .player-two{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.reset{
  width: 10%;
}
.button-container button:active{
  transform: scale(1.2);
}

.player-two{
  bottom: 30%;
  left: 70%;
  width: 10%;
  height: 10%;
}
.player-one{
  bottom: 30%;
  right: 70%;
  width: 10%;
  height: 10%;
}

.round-score {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  margin: 16px;
}

.first-button button, .second-button button, .third-button button {
  display: flex;
  align-items: center;
}


.dice_svg, .hold_svg, .update_svg {
  margin-right: 10px;
  width: 20%;
  vertical-align: middle;
}



.first-button{
  width:120px;
  vertical-align: middle;
}
.container {
  display: flex;
  height: 100vh; 
}

.button-container{
  display: flex;
  width: 25%;
  height: 300px;
  top: 60%;
  left: 38%;
  flex-wrap: wrap;
  position: absolute;
  flex-direction:column;
  background: #FF4040;
  justify-content: space-evenly;
  align-content: space-around;
  border-radius: 10px;
}

.notification {
  top: 30%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.dice_image{
  position: fixed;
  width:120px;
  height: 120px;
  top: 4%;
  left: 47%;
}

.notification-message {
  width:700px;
  height: 100px;
  flex-wrap: wrap;
  font-size: 30px;
  border-radius: 10px;
  border: 1px red solid;
  align-content: center;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: rgba(255, 0, 0, 0.7);
}

.player-win_one, .player-win_two {
  display:none;
}


.button-container button{
  width:200px;
  height: 60px;
  opacity: 0.5;
  border: none;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}
  
.left-block h1,.right-block h1 {
  display: flex;
  font-size:80px;
  justify-content: space-around;
}

h1 {
  display: flex;
}

.left-block,
.right-block {
  width: 50%; 
}

.left-block {
  background-color: #f1f1f1; 
}

.right-block {
  background-color: #ddd; 
}

.line {
  width: 2px; 
  background-color: #333; 
  margin: 0 auto; 
}

.cube_hidden{
  display: none;
}

.turn_off{
  display: none;
}

.turn_one{
  position: absolute;
  background-color: #FF4040;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 9%;
  left: 33%;
}

.turn_two{
  position: absolute;
  background-color: #FF4040;
  width: 30px;
  height: 30px;
  border-radius:50%;
  top: 9%;
  left: 83%;
}


.cube_settings {
  position: absolute;
  width: 95px;
  height: 95px;
  background-color: #FF4040;
  border-radius:10px;
  display: flex;
  align-items: center;
  left: 47%;
  bottom: 50%;
  padding: 10px;
  justify-content: space-between;
}

.point {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.one_point .point:nth-of-type(1){
  margin: 0px 0px 0px 35px;
}

.two_point .point:nth-of-type(1) {
  margin: 0px 0px 70px 0px;
}

.two_point .point:nth-of-type(2) {
  align-self: flex-end;
  margin: 0px 5px 0px 10px;
}

.three_point .point:nth-of-type(1) {
  align-self :flex-end;
}

.three_point .point:nth-of-type(3) {
  margin: 0px 0px 70px 0px;
}

.four_point .point:nth-of-type(1){
  margin: 0px 0 70px 0;
}

.four_point .point:nth-of-type(2){
  margin: 0px 0px 70px 75px;
  position: absolute;
}

.four_point .point:nth-of-type(3){
  margin: 70px 0px 0px 75px;
  position: absolute;
}

.four_point .point:nth-of-type(4){
  margin: 70px 0px 0px 0px;
  position: absolute;
}

.five_point .point:nth-of-type(1) {
  margin: 70px 0px 0px 0px;
}

.five_point .point:nth-of-type(2){
  margin: 0px 0px 70px 75px;
  position: absolute;
}

.five_point .point:nth-of-type(3){
  margin: 70px 0px 0px 75px;
  position: absolute;
}

.five_point .point:nth-of-type(4){
  margin: 0px 0px 70px 0px;
  position: absolute;
}

.five_point .point:nth-of-type(5){
  margin: 0px 0px 0px 35px;
  position: absolute;
}


.six_point .point:nth-of-type(1){
  margin: 70px 0px 0px 70px;
  position: absolute;
}

.six_point .point:nth-of-type(2){
  margin: 0px 0px 70px 0px;
  position: absolute;
}

.six_point .point:nth-of-type(3){
  margin: 70px 35px 0px 0px;
  position: absolute;
}

.six_point .point:nth-of-type(5){
  margin: 0px 0px 70px 70px;
  position: absolute;
}
.six_point .point:nth-of-type(6){
  margin: 0px 0px 0px 70px;
  position: absolute;
}