body{
	margin: 0px;
}

h1 {display: flex;}

.dice-button{
  vertical-align: middle;
  white-space: nowrap;

}
.score{
  height: 100px;
  background-color: rgba(255, 0, 0, 0.2);
}

.player-one, .player-two{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.reset{
  width: 10%;
}

.player-two{
  bottom: 30%;
  left: 70%;
  width: 10%;
  height: 10%;
}
.player-one{
  bottom: 30%;
  right: 70%;
  width: 10%;
  height: 10%;
}

.round-score {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  margin: 16px;
}

.first-button button, .second-button button, .third-button button {
  display: flex;
  align-items: center;
}

.dice_svg, .hold_svg, .update_svg {
  margin-right: 10px;
  width: 20%;
  vertical-align: middle;
}

.button:hover {
  background-color: #fff;
  color: #d7263d;
  box-shadow: 0px 3px 15px rgba(215,38,61,0.2);
  transform: scale(1.1);
}
.first-button{
  width:120px;
  vertical-align: middle;
}
.container {
  display: flex;
  height: 100vh; 
}

.button-container{
  display: flex;
  width: 25%;
  height: 300px;
  top: 60%;
  left: 38%;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  flex-direction:column;
  background: #FF4040;
  justify-content: space-evenly;
  align-content: space-around;
  border-radius: 10px;
}

.notification {
  top: 30%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.dice_image{
  position: fixed;
  width:120px;
  height: 120px;
  top: 4%;
  left: 47%;
}

.notification-message {
  width:700px;
  height: 100px;
  flex-wrap: wrap;
  font-size: 30px;
  border-radius: 10px;
  border: 1px red solid;
  align-content: center;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: rgba(255, 0, 0, 0.7);
}

.player-win_one, .player-win_two {
  display:none;
}




.button-container button{
  width:200px;
  height: 60px;
  opacity: 0.5;
  border: none;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}
  

.button-container button:active{
  transform: scale(1.2);
}

.left-block h1,.right-block h1 {
  display: flex;
  font-size:80px;
  justify-content: space-around;
}

.left-block,
.right-block {
  width: 50%; 
}

.left-block {
  background-color: #f1f1f1; 
}

.right-block {
  background-color: #ddd; 
}

.line {
  width: 2px; 
  background-color: #333; 
  margin: 0 auto; 
}


.player-one{
  transition: transform 0.3s ease-in-out;
}

.player-one:hover {
  transform: scale(1.2);
}
